@model TranTienSon_231210892_de02.Models.TtsCatalog

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TtsCatalog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TtsId" />
            <div class="form-group">
                <label asp-for="TtsCateName" class="control-label"></label>
                <input asp-for="TtsCateName" class="form-control" />
                <span asp-validation-for="TtsCateName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TtsCatePrice" class="control-label"></label>
                <input asp-for="TtsCatePrice" class="form-control" />
                <span asp-validation-for="TtsCatePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TtsCateQty" class="control-label"></label>
                <input asp-for="TtsCateQty" class="form-control" />
                <span asp-validation-for="TtsCateQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TtsPicture" class="control-label"></label>
                <input asp-for="TtsPicture" class="form-control" />
                <span asp-validation-for="TtsPicture" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TtsCateActive" /> @Html.DisplayNameFor(model => model.TtsCateActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
