@*
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_TtsLayout.cshtml";"
*@

<div class="containter mt-5">
    <div class="card shadow-lg p-4 rounded-4">
        <h2 class="text-center text-primary mb-4">Thông tin sinh viên</h2>
        <table class="table table-borderless">
            <tr>
                <th style="width: 200px;">Họ và tên:</th>
                <td><strong>Trần Tiến Sơn</strong></td>
            </tr>
            <tr>
                <th>Mã sinh viên:</th>
                <td>231210892</td>
            </tr>
            <tr>
                <th>Lớp:</th>
                <td>Công nghệ thông tin 2 - Khóa 64</td>
            </tr>
            <tr>
                <th>Trường:</th>
                <td>Đại học Giao thông vận tải</td>
            </tr>
        </table>
    </div>
</div>